<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Навигация</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" href="/">Главная</a>
                <a class="nav-link active" href="/certificate">Отчет</a>
                <a class="nav-link active" href="/settings">
                    Настройки
                    <% if (currentSettings.theme === 'dark') { %>
                        🌙
                    <% } else { %>
                        ☀️
                    <% } %>
                </a>
            </div>
        </div>
    </div>
</nav>
