
<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;" id="navbar">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    </a>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" class="nav-link link-body-emphasis" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#home"></use></svg>
          Офисы
        </a>
      </li>
      <li>
        <a href="/employees" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#speedometer2"></use></svg>
          Сотрудники
        </a>
      </li>
      <li>
        <a href="/certificate" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#people-circle"></use></svg>
          Формирование справки
        </a>
      </li>
    </ul>
    <hr>
    <div class="">
         <a href="#" class="nav-link link-body-emphasis">
          <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true"><use xlink:href="#people-circle"></use></svg>
          Настройки
        </a>
    </div>
</div>

